.add.flex-layout.h-center
	.icon-container.center
		svg.icon.thumb_up(style={fill: '#212121'})
			use(xlink:href='#icon-visibility_black')
	.icon-container.center
		svg.icon.thumb_up(style={fill: '#212121'})
			use(xlink:href='#icon-person_add_black')
