.actions.flex-layout.h-center
	.icon-container.center#focus
		svg.icon
			use(xlink:href='#icon-visibility_black')
	.icon-container.center#addFriend
		svg.icon
			use(xlink:href='#icon-person_add_black')
