doctype html
html
	head
		meta(charset='utf-8')
		meta(name="viewport" content="user-scalable=no")
		meta(name='viewport' content='width=device-width, initial-scale=1,minimum-scale=1.0, maximum-scale=1.0')
		title= id
		style
			include ../main.css
			include user.css
	body
		include user.svg
		//- header
		.content
			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-quill')
				.cmn-t-underline
					p 怀着梦想，做自己喜欢做得事儿
					p 朝着梦想，努力做自己要做得事儿
					p 为了梦想，竭尽全力做事儿

			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-user-tie')
				.cmn-t-underline
					p 姓名：谷传堂
					p 身高：178cm
					p 体重：70kg


			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-ic_my_location_black')
				.cmn-t-underline
					p 北京市
					
			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-address-book')
				.cmn-t-underline
					p 山东省济宁市


			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-envelope')
				.cmn-t-underline
					p#email D_ttang@163.com 
					p 
						span#sendEmail 发邮件给Ta

			.flex-layout.item
				.icon-container.center
					svg.icon(style={fill: '#9e9e9e'})
						use(xlink:href='#icon-mortar-board')
				.cmn-t-underline
					p 大学：
					li 山东科技大学（资源2009级）
					p 高中：
					li 济宁市实验中学（2005级）
					

			
			
			//- .cmn-t-underline
			//- 	p fjakfakfjakslfdja;
			//- .cmn-t-underline
			//- 	p fjakfakfjakslfdja;
			//- .cmn-t-underline
			//- 	p fjakfakfjakslfdja;
			//- h4 user
		include add.jade

		br
		br

		script
			include user.js