
header {
	/*height: 300px;*/
}

.content {
  
}

.cmn-t-underline {
	/*overflow: hidden;*/
  position: relative;
  /*color: #ff3296;*/
  width: 0;
  /*width: 100%;*/
  flex-grow:1;
  -webkit-flex-grow: 1;
  transition: width 1s;
  margin: 10px;
  padding: 10px 0;
}
.cmn-t-underline p {
	opacity: 0.0;
	transition: all 0.5s linear;
	transition-delay: 0.2s;
}
.cmn-t-underline:after {
  display: block;
  position: absolute;
  left: 0;
  top: 5px;
  width: 0px;
  height: 35px;
  /*background-color: #98004a;*/
  content: "";
  border-top-left-radius: 17px;
  border-top: solid 1px #9E9E9E ;
  left: -13px;
  /*overflow: auto;*/
  transition: width 0.6s;
}
/*.cmn-t-underline:hover {
  color: #98004a;
}*/
/*.cmn-t-underline:active:after {*/
  /*width: 100%;*/
/*}*/

/*.cmn-t-underline:hover:after{
	width: 100%
}*/
.animate.cmn-t-underline:after{
	width: 100%;
}
/*.animate.cmn-t-underline {
	width: 100%
}*/

.animate.cmn-t-underline p {
	opacity: 1.0;
}


.icon-container {
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    border-style: solid;
    border-width: 0.5px;
    /*border: solid 1px;*/
    height: 36px;
    width: 36px;
    border-radius: 18px;
    margin: 0 0 0 10px;
    border-color:  #9E9E9E;

}

.icon {
    display: inline-block;E9E9E
    width: 1.2em;
    height: 1.2em;

    /*fill: currentColor;*/
}

p {
	padding: 2px;
}
.item {
  /*-webkit-user-select: none; */
	margin: 10px 8px;
}
.item #sendEmail {
  /*-webkit-user-select: initial;*/
}

/*****/
.actions {
  background: #EEEEEE;
  height: 80px;
  /*align-items: flex-end;*/
  
  padding-right: 15px;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.actions .icon-container {
    /*-webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    border-style: solid;
    border-width: 0.5px;
    /*border: solid 1px;*/
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 0 5px;
    border-color:  #2196F3;
}

.actions .icon {
  fill: #2196F3
}

#sendEmail{
  color: #2196F3;
  /*margin: 10px; */
  font-size: 0.8em;
}
